.jumbotron{class: 'text-center'}
  .page-header
    %h1
      %small Welcome to
      Luncher!
  %p A simple app for ordering lunches for your organization.

  %a{id: 'login_main',
    href: "#{new_user_session_path}",
    class: 'btn btn-primary btn-lg btn-block'} Log In
  %a{id: 'sign_up_main',
    href: "#{new_user_registration_path}",
    class: 'btn btn-success btn-lg btn-block'} Sign Up
