body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.container-main {
  padding: 20px 10px 70px 10px;
}

.ui-menu {
  background: #fff;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
