- unless flash.empty?
  - flash.each do |type, msg|
    - type = 'success' if 'notice' == type 
    - type = 'danger' if 'alert' == type 
    %div{class: "alert alert-#{type}", role: 'alert'}
      %button{type: 'button', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'Close'}
        %span{'aria-hidden': true} &times;
      = msg
