%nav{class: 'navbar navbar-default navbar-fixed-bottom'}
  .container-fluid
    .navbar-text{class: 'navbar-left'}
      &copy;
      %a{href: 'mailto:<vanyazin@gmail.com>'} Zinovyev Ivan
    .navbar-text{class: 'navbar-right'}
      %a{href: 'https://github.com/zinovyev/luncher'} Github
      &nbsp;&nbsp;
